In [ ]:
#importing the required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
data=pd.read_csv("/content/train.csv") # Reading the data

In [ ]:
data.head() # printing the rows

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [ ]:
data.info() #Information about the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [ ]:
data.isnull() # checking for null values

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5843,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5844,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5845,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5846,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [ ]:
data.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

## B. Remove the units from some of the attributes and only keep the numerical values

In [ ]:
df1= pd.DataFrame(data)

In [ ]:
df1['Mileage'] = df1['Mileage'].str.extract('(\d+\.\d+)').astype(float)

df1['Engine'] = df1['Engine'].str.replace(' CC', '').astype(float)

df1['Power'] = df1['Power'].str.extract('(\d+\.\d+)').astype(float)

df1['New_Price'] = df1['New_Price'].str.extract('(\d+\.\d+)').astype(float)

df1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

# a. Look for the missing values in all the columns and either impute them (replace with mean,median, or mode) or drop them.

In [ ]:
df1['Mileage'].fillna(df1['Mileage'].median(),inplace=True)
df1['Engine'].fillna(df1['Engine'].mean(),inplace=True)
df1['Power'].fillna(df1['Power'].median(),inplace=True)

df1['Seats'].fillna(df1['Seats'].mode()[0],inplace=True)

df1.drop('New_Price', axis=1, inplace=True)#axis=1 indicates to drop a column

In [ ]:
output_csv_file = 'preprocessed_data.csv'
df1.to_csv(output_csv_file, index=False)

In [ ]:
df=pd.read_csv("/content/preprocessed_data.csv")

In [ ]:
df.isnull()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,False,False,False,False,False,False,False,False,False,False,False,False,False
5843,False,False,False,False,False,False,False,False,False,False,False,False,False
5844,False,False,False,False,False,False,False,False,False,False,False,False,False
5845,False,False,False,False,False,False,False,False,False,False,False,False,False
5846,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

 Looking at the unique values for some of our categorical variables: "Fuel_Type," "Transmission," and "Owner_Type."

When encoding categorical variables for machine learning algorithms, for example, preprocessing processes might be informed by unique values. Applying encoding techniques such as label encoding or one-hot encoding correctly is ensured by an understanding of the range of values.

In [ ]:
df['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [ ]:
df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [ ]:
df['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

# C. Change the categorical variables (â€œFuel_Typeâ€ and â€œTransmissionâ€) into numerical one hot encoded value.

In [ ]:
df['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
df['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
df['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

In [ ]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50

In [ ]:
output_file = 'encoded_data.csv'
df.to_csv(output_file, index=False)

# d.Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting â€œYearâ€ value from the current year.

In [ ]:
from datetime import datetime

In [ ]:
current_year = datetime.now().year

df['Current_Age'] = current_year - df['Year']

In [ ]:
output_file = 'newColumnData.csv'
df.to_csv(output_file, index=False)

In [ ]:
df2=pd.read_csv("/content/newColumnData.csv")
df2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,11

# e. Perform select, filter, rename, mutate, arrange, and summarize with group by operations (or their equivalent operations in python) on this dataset.

In [ ]:
#selecting the data
Selected_d1 = data[['Location','Year', 'Price','Kilometers_Driven','Mileage', 'Engine','Power','Seats']]

In [ ]:
# filtering the data using the certain condition
filtered_d1 = data[data['Kilometers_Driven'] >  100000]
filtered_d1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.50,2477.0,175.56,7.0,32.01,15.00
27,29,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Diesel,Manual,Fourth & Above,12.80,2494.0,88.80,7.0,NaN,4.00
56,58,Nissan X-Trail SLX AT,Hyderabad,2010,121812,Diesel,Automatic,First,9.49,1995.0,147.60,5.0,NaN,7.75
62,64,Tata Indica V2 eLS,Chennai,2016,178000,Diesel,Manual,First,25.00,1396.0,88.80,5.0,NaN,2.50
74,77,Toyota Innova 2.0 G1,Chennai,2006,230000,Petrol,Manual,Third,12.40,1998.0,88.80,8.0,NaN,4.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5789,5959,Toyota Corolla Altis 1.8 G CVT,Delhi,2010,109703,Petrol,Automatic,Second,14.28,1798.0,138.03,5.0,20.46,4.00
5790,5960,Tata Indica Vista Quadrajet VX,Hyderabad,2012,110000,Diesel,Manual,First,22.30,1248.0,88.80,5.0,NaN,2.80
5808,5978,Mahindra Xylo D4,Hyderabad,2016,105545,Diesel,Manual,First,14.00,2498.0,88.80,7.0,NaN,5.30
5817,5988,Renault Duster 85PS Diesel RxL Option,Mumbai,2013,102486,Diesel,Manual,First,19.87,1461.0,83.80,5.0,NaN,4.25
5834,6006,Mercedes-Benz M-Class ML 320 CDI,Mumbai,2009,102002,Diesel,Automatic,First,8.70,2987.0,224.34,5.0,NaN,10.75

In [ ]:
filtered_d1 = data[data['Year'] >  2018]
filtered_d1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
65,67,Mercedes-Benz C-Class Progressive C 220d,Coimbatore,2019,15369,Diesel,Automatic,First,0.00,1950.0,88.80,5.0,49.14,35.67
128,135,Hyundai Verna VTVT 1.6 AT SX Plus,Kochi,2019,12645,Petrol,Automatic,First,17.00,1591.0,121.30,5.0,13.49,11.50
147,155,Hyundai EON Magna Plus,Kochi,2019,14322,Petrol,Manual,First,21.10,814.0,55.20,5.0,NaN,4.23
165,173,Hyundai Grand i10 1.2 Kappa Asta,Kolkata,2019,1000,Petrol,Manual,First,18.90,1197.0,81.86,5.0,7.39,6.50
226,235,Toyota Innova Crysta 2.8 GX AT,Kochi,2019,14165,Diesel,Automatic,First,11.36,2755.0,171.50,7.0,20.74,19.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5608,5769,Tata Tiago 1.2 Revotron XZ,Coimbatore,2019,20712,Petrol,Manual,First,23.84,1199.0,88.80,5.0,6.59,6.94
5628,5789,Renault KWID RXL,Kochi,2019,7858,Petrol,Manual,First,25.17,799.0,53.30,5.0,4.04,3.80
5644,5805,Skoda Rapid 1.6 MPI Ambition,Coimbatore,2019,21214,Petrol,Manual,First,15.41,1598.0,103.52,5.0,12.44,9.66
5699,5860,Mahindra Thar CRDe AC,Coimbatore,2019,16392,Diesel,Manual,First,16.55,2498.0,88.80,6.0,NaN,10.36
5712,5875,Mercedes-Benz C-Class Progressive C 220d,Ahmedabad,2019,4000,Diesel,Automatic,First,0.00,1950.0,88.80,5.0,49.14,35.00

In [ ]:
# renaming the columns
Renamed_d1 = data.rename(columns={'Engine': 'Engine_of_train', 'Seats': 'Number_of_Seats','Price': 'Price_Lakhs'})
Renamed_d1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine_of_train,Power,Number_of_Seats,New_Price,Price_Lakhs
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

In [ ]:
data['Price_in_lakhs'] = data['Price'] / 100000
data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Price_in_lakhs
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50,0.000125
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,8.61,4.50,0.000045
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00,0.000060
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74,0.000177
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50,0.000035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,88.80,5.0,7.88,4.75,0.000048
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120.0,88.80,5.0,NaN,4.00,0.000040
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498.0,88.80,8.0,NaN,2.90,0.000029
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,NaN,2.65,0.000027
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,NaN,2.50,0.000025

In [ ]:
# Arrange data based on a column
arranged_d1 = data.sort_values(by='Year', ascending=False)
arranged_d1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Price_in_lakhs
5405,5560,Renault KWID RXT Optional,Kochi,2019,6568,Petrol,Manual,First,25.17,799.0,53.3,5.0,4.78,5.09,0.000051
942,975,Ford Endeavour 2.2 Trend AT 4X2,Kochi,2019,11209,Diesel,Automatic,First,12.62,2198.0,88.8,7.0,NaN,31.15,0.000311
5533,5690,Maruti Omni 5 Seater BSIV,Coimbatore,2019,4721,Petrol,Manual,First,14.00,796.0,88.8,5.0,NaN,4.11,0.000041
770,796,Mahindra XUV500 W9 AT,Coimbatore,2019,19654,Diesel,Automatic,First,14.00,2179.0,88.8,7.0,21.33,17.63,0.000176
4267,4399,Maruti Swift Dzire AMT ZDI,Chennai,2019,65000,Diesel,Automatic,First,26.59,1248.0,88.8,5.0,NaN,6.75,0.000068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185,1224,Maruti Zen VX,Jaipur,1999,70000,Petrol,Manual,Second,17.30,993.0,88.8,5.0,NaN,0.77,0.000008
1791,1845,Honda City 1.3 EXI,Pune,1999,140000,Petrol,Manual,First,13.00,1343.0,88.8,5.0,NaN,0.90,0.000009
3630,3749,Mercedes-Benz E-Class 250 D W 210,Mumbai,1998,55300,Diesel,Automatic,First,10.00,1796.0,157.7,5.0,NaN,3.90,0.000039
5558,5716,Maruti Zen LX,Jaipur,1998,95150,Petrol,Manual,Third,17.30,993.0,88.8,5.0,NaN,0.53,0.000005
3039,3138,Maruti Zen LXI,Jaipur,1998,95150,Petrol,Manual,Third,17.30,993.0,88.8,5.0,NaN,0.45,0.000005

In [ ]:
# Summarize data using group by operations
grouped_d1 = data.groupby('Location')['Power'].mean()
grouped_d1

Location
Ahmedabad      97.417936
Bangalore     110.746193
Chennai        95.756534
Coimbatore    109.081418
Delhi         103.860519
Hyderabad      97.769479
Jaipur         89.771551
Kochi         101.636187
Kolkata        94.769829
Mumbai        104.861942
Pune           94.297203
Name: Power, dtype: float64